*{

margin:0;
padding:0;
box-sizing:border-box;

}


html{

scroll-behavior:smooth;

}


body{

font-family:Poppins,sans-serif;

background:
linear-gradient(135deg,#020024,#090979,#00d4ff);

color:white;

}



header{

background:rgba(0,0,0,0.5);

padding:20px;

position:sticky;

top:0;

z-index:1000;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

}



.logo{

font-size:30px;

color:#00ffff;

}



ul{

display:flex;

gap:25px;

list-style:none;

}



ul a{

color:white;

text-decoration:none;

}



ul a:hover{

color:#00ffff;

}





.hero{

height:90vh;

display:flex;

justify-content:center;

align-items:center;

gap:70px;

padding:50px;

}



.hero-text{

max-width:600px;

animation:slide 1s;

}



@keyframes slide{

from{

transform:translateX(-100px);

opacity:0;

}

to{

transform:translateX(0);

opacity:1;

}

}




.hero h1{

font-size:50px;

}



.hero span{

color:#00ffff;

}



.btn{

display:inline-block;

margin-top:25px;

padding:12px 35px;

background:#00ffff;

color:black;

border-radius:30px;

text-decoration:none;

}



.profile{

display:flex;

justify-content:center;

align-items:center;

}



.profile img{

width:280px;

height:280px;

object-fit:cover;

border-radius:50%;

border:5px solid cyan;

animation:float 3s infinite ease-in-out;

box-shadow:0 0 30px cyan;

}



@keyframes float{

50%{

transform:translateY(-20px);

}

}




section{

padding:70px 10%;

text-align:center;

}



h2{

color:#00ffff;

font-size:35px;

margin-bottom:30px;

}



.skills-container,
.projects-container,
.education-container,
.internship-container{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:30px;

}





.card,
.project-card,
.education-card,
.internship-card{


background:rgba(255,255,255,0.12);

padding:30px;

width:300px;

border-radius:20px;

backdrop-filter:blur(10px);

transition:.4s;

}




.card:hover,
.project-card:hover,
.education-card:hover,
.internship-card:hover{


transform:translateY(-15px);

box-shadow:0 0 30px cyan;

}





.card h3,
.project-card h3,
.education-card h3,
.internship-card h3{

color:#00ffff;

margin-bottom:15px;

}





footer{

background:black;

padding:20px;

text-align:center;

}




@media(max-width:768px){


nav{

flex-direction:column;

}


ul{

flex-direction:column;

margin-top:20px;

}


.hero{

flex-direction:column;

text-align:center;

}


.profile img{

width:220px;

height:220px;

}



}